<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Udemy App</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/recipeBook']">Recipe Book</a>
                <a href="#" class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/shoppingList']">Shpping  List</a>
            </div>
            <div class="navbar-nav ms-auto">
                <li class="dropdown nav-item" appDropdown>
                    <a href="#" class="dropdown-toggle nav-link">Manage <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </div>
        </div>
    </div>
</nav>